<ion-view title="Waiting for Driver">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div>
            <p class="ng-hide" ng-hide="book_success">Waiting for Driver's response</p>
        </div>
        <button class="button button-block button-balanced" class="ng-hide" ng-hide="book_fail">
			  Next
		</button>
		<button class="button button-block button-calm" class="ng-hide" ng-hide="book_success">
			  Retry
		</button>
        <button class="button button-block button-calm" class="ng-hide" ng-hide="book_success" ng-click="edit_booking()">
              Edit Booking
        </button>
        
    </ion-content>
</ion-view>