<ion-view view-title="Songhop" hide-nav-bar="true" class="splash-page">
  <ion-content scroll="false">

    <div class="padding logo">
      <h1>Logo Here</h1>
    </div>
    <br />
    <br />
    <h3 class-"padding-left padding-right">Login as</h3>
    <div class="login-form">      
        <div class="list">
          <a href="/#/login" style="text-decoration:none;">
            <button class="button button-block button-positive" >
                Customer
            </button>
          </a>        
      </div>      
        <div class="list">
          <a href="/#/login_driver" style="text-decoration:none;">
            <button class="button button-block button-assertive" >
                Driver
            </button>
          </a>
        </div>      
    </div>


    <div class="padding signup-opt" >
      Need an account? <a href="/#/register">Sign up!</a>
    </div>

  </ion-content>
</ion-view>