<ion-view title="Book info">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list ng-model="book">
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Customer</h2>
                
            </ion-item>
            <ion-item>Pick up location : {{book.pickup}}</ion-item>
            <ion-item>Destination : {{book.destination}}</ion-item>
            <ion-item>Time: {{book.timein}}</ion-item>
            <ion-item>Status: {{book.booking_status}}</ion-item>
        </ion-list>
        <a ui-sref="menu.reject" class="button button-stable button-block " ng-click="acceptBooking(book)">Accept</a>
        <a ui-sref="menu.accept" class="button button-stable button-block " ng-click="rejectBooking(book)">Reject</a>
    </ion-content>
</ion-view>