<ion-view title="Book">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">
  <style type="text/css">
      .scroll {
          height: 50%;
      }
       
      #map {
          width: 100%;
          height: 50%;
      }
       html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      #target {
        width: 345px;
      }
   </style>
      <p>Enter your destination in the search box.</p>
     <input id="pac-input" class="controls" type="text" placeholder="Search Box" ng-model="searchBox" >
	   <div id="map" ></div>
	  <form name="bookForm" ng-submit="createBooking(form)">
	    <div class="list" >
	    	<label class="item item-input item-stacked-label">
		      <span class="input-label">Destination : {{form.destination}}</span>
		        <input type="hidden" name='destination' ng-model="form.destination" placeholder="Search for your destination" required>            
		     </label>
		     <label class="item item-input item-stacked-label">
		      <span class="input-label">Time</span>
		        <input type="text" ng-model="form.timein" placeholder="Time" ng-focus='showTimePicker()' ng-blur='fillTime()' required>
		     </label>		     
			   <span class="input-label" >Distance : {{form.distance}} </span>
         <span class="input-label" >Price : {{form.price}} </span>
		</div>

		
	    <hr />    
      <h4>Select Driver</h4>
      <small>Click to select</small>
	    <div >
		      
		      <ion-list ng-repeat="driver in availableDrivers" >
            <div class='row'>
		        <ion-radio ng-model="form.driver" ng-value="{{driver.id}}" ng-change='calculate(driver.id)' class='col-67' required>
					     {{driver.username}} <br />
              Distance : {{driver.distance}} km					
		    	   </ion-radio>
			       <input type="button" class="button button-medium button-balanced col" style="float:right" ng-click='openModal(driver)' value="View Driver">		  			
				    </div>
		                
		      </ion-list>
		    <button class="button button-block button-positive" ng-disabled="bookForm.$invalid" type="submit">Book</button>     
		</div>
	  </form>    
  </ion-content>
</ion-view>
