<ion-view title="Payment Confirmation">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <h1>Confirm Payment</h1>
    <p>Waiting for Customer to make payment(via PayPal).<br />
    	Click the button below to confirm payment if customer pays by cash.
    </p>
    <a class="button button-balanced button-block " ng-click='bookingPaid()'>Paid</a>
  </ion-content>
</ion-view>